<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="production" packages="">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
    	<!-- Root logger referring to console appender -->
        <Root level="info" additivity="false">
            <AppenderRef ref="stdout" />
        </Root>
    </Loggers>
</Configuration>
